<%= form_with(model: passanger) do |form| %>
  <center>
  <% if passanger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passanger.errors.count, "error") %> prohibited this passanger from being saved:</h2>

      <ul>
        <% passanger.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.number_field :contact %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="field">
    <%= form.label :From_To %>
    <%= form.text_field :From_To %>
  </div>

  <div class="field">
    <%= form.label :timing %>
    <%= form.number_field :timing %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </center>
<% end %>
